{% extends "base.html.twig" %}

{% block body %}
<main>
    <div class="container">
        <div class="row extra-margin">
            <h1> Seu número da sorte é: {{ number }}</h1>
        </div>
    </div>
</main>
{% endblock %}



